html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.calculator {
  width: 300px;
  min-height: 600px;
  margin: 50px auto; }
  .calculator .calc {
    border-collapse: collapse;
    border-spacing: 0px; }
    .calculator .calc .screen {
      width: 300px;
      height: 120px;
      background: #e3e7e9;
      border: none;
      border-bottom: none;
      outline: none;
      text-align: right;
      font: 300 28px 'Arial', sans-serif;
      color: #46494d;
      vertical-align: bottom; }
    .calculator .calc .numbers-btn, .calculator .calc .func-btn, .calculator .calc .zero, .calculator .calc .clean-btn, .calculator .calc .equally {
      width: 75px;
      height: 75px;
      color: #979ca4;
      background: #fafbfe;
      outline: none;
      border: 1px solid #eeeff2; }
      .calculator .calc .numbers-btn:active, .calculator .calc .func-btn:active, .calculator .calc .zero:active, .calculator .calc .clean-btn:active, .calculator .calc .equally:active {
        background-color: #F5F5F5; }
    .calculator .calc .func-btn {
      background: #f7f8f9; }
      .calculator .calc .func-btn:active {
        background-color: #dadde0; }
    .calculator .calc .zero, .calculator .calc .clean-btn {
      width: 150px;
      height: 75px;
      background: #fafbfe; }
    .calculator .calc .clean-btn {
      color: #FF8C00;
      background: #f7f8fb; }
      .calculator .calc .clean-btn:active {
        background: #dadde0; }
    .calculator .calc .equally {
      height: 150px;
      background: #FF8C00;
      color: #ffffff; }
      .calculator .calc .equally:active {
        background: #FF7F00; }
    .calculator .calc input {
      font: 300 20px 'Arial', sans-serif;
      margin-right: -4px; }
    .calculator .calc .corection-pos, .calculator .calc .corection-pos-2 {
      position: relative;
      bottom: 37px; }
    .calculator .calc .corection-pos-2 {
      bottom: 75px; }
