.calculator {
	width: 300px;
	min-height: 600px;
	margin: 50px auto;
	ul {
		border-collapse: collapse;
		border-spacing: 0px;
		#screen {
			padding: 70px 15px 5px 15px;
			width: 300px;
			height: 120px;
			background: #e3e7e9;
			border: none;
			outline: none;
			text-align: right;
			font: 300 28px 'Arial', sans-serif;
			color: #46494d;
		}
		.key {
			width: 75px;
			height: 75px;
			color: #979ca4;
			background: #fafbfe;
			outline: none;
			border: 1px solid #eeeff2;
			&:active{background-color: #F5F5F5;}
		}
		.func-btn {
			background: #f7f8f9;
			&:active {background-color: #dadde0;}
		}
		.zero {
			width: 150px;
			height: 75px;
			background: #fafbfe;
		}
		.equal {
			@extend .key;
			height: 150px;
			background: #FF8C00;
			color: #ffffff;
			&:active {background: #FF7F00;}
		}
		button {
			font: 300 20px 'Arial', sans-serif;
			margin-right: -4px;
		}
		.corection-pos {
			position: relative;
			bottom: 37px;
		}
		.corection-pos-2 {
			position: relative;
			bottom: 75px;
		}
	}
}