@font-face {
  font-family: 'backspace';
  src:  url('../../fonts/Backspace/icomoon.ttf') format('truetype'),
    url('../../fonts/Backspace/icomoon.woff') format('woff'),
    url('../../fonts/Backspace/icomoon.eot') format('embedded-opentype'),
    url('../../fonts/Backspace/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}